@{
    ViewData["Title"] = "Teste Volvo";
}

<div class="text-center">
    <h1>Essa é uma página teste para o teste prático da Volvo</h1>
    <br />
    <h1>Para realizar as ações nos registros de caminhões, por favor, clique no link do menu acima</h1>
</div>
